a{
    color:#ffffff !important;
    font-weight: bold !important;
}
.navbar-md{
    display:none !important;
}
.navbar-lg form{
    width: 35%;
    margin-left:10%;
}
@media (max-width: 992px) {
    .navbar-md{
        display: block !important;
    }
    .navbar-lg{
        display: none !important;
    }
    .btnInferior{
        position: fixed !important;
        top: 93%;
        border-radius: 0;
        border-color: black;
    }
    .comprarBtn{
        left: 50%;
    }
    .inicioBtn{
        left: 35%;
        display: block !important;
    }
    .infoDeVendedor{
        border: 0 !important;
    }
    .precio{
        text-align: center !important;
    }
}
@media(max-width: 500px){
    .comprarBtn{
        left: 45% !important;
    }
    .inicioBtn{
        left: 24% !important;
    }
}