::-webkit-scrollbar {
    width: 12px;
  }
::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    border-radius: 20px;
  }
::-webkit-scrollbar-thumb {
    background-color: #8E79BA;
    border-radius: 20px;
    border: 3px solid rgb(209, 209, 209); 
  }
.sidebar-lg-container{
    font-size: 0.8em;
}
.precio-form input,.order-form select{
    width: 20px !important;
}
.card{
    max-height:40vh;
    min-height: 300px;
}
.selectProductsPerPage{
    max-width: 80px;
}
.order-card{
    max-height:7% !important;
    min-height: 7% !important;
}
.order-card:hover{
    cursor: inherit !important;
    background: #fff !important;
}
.card:hover{
    cursor: pointer;
    background: #8E79BA;
}
.card:hover .card-body{
    color: #ffffff !important;
}
.card img{
    width: 70%;
    object-fit: contain !important;
    height: 200px !important;
}
#nuevoSwitch,input[type="radio"],.card{
    transition: all 0.3s;
}
.searchInputLg{
    width: 35%;
    margin-left:10%;
}